/* Main CSS File */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    color: #D9D9D9;
}

body {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    background-image: url("../img/noise.svg");
    background-position: 0 0;
    background-size: auto;
    background-attachment: fixed;
}

/* --- TEXT --- */

h1 {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.8rem 1rem;
    text-transform: uppercase;
}
h2 {
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: lowercase;
    text-align: right;
    letter-spacing: -0.1rem;
}
h3 {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.05rem;
}
h4 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
}

/* --- NAVIGATION BAR --- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #D9D9D9 0.01rem solid;
    position: sticky;
    top: 0;
    z-index: 10;

    background-color: #161616;
    background-image: url("../img/noise.svg");
    background-position: 0 0;
    background-size: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    flex-direction: row;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.8rem 1rem;
    border-left: #D9D9D9 0.01rem solid;
}
nav a:hover, nav a:focus {
    background-color: #465D6B;
    color: #D9D9D9;
    transition: background-color 0.3s, color 0.3s;
}

/* --- ABOUT SECTION --- */

#about {
    display: flex;
    flex-direction: column;
}

.title-heading {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    height: 24rem;
    padding: 1rem;
}
.title-heading p {
    text-align: right;
}

.about-card {
    display: flex;
    flex-direction: column;
    background-color: #465D6B;
    padding: 0.5rem;
    border: #D9D9D9 0.01rem solid;
}
.inner-card {
    border: #D9D9D9 0.01rem solid;
}
.portrait-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-height: 10rem;
}
.portrait-container img {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: center top; /* shift crop downward */
    border: #D9D9D9 0.01rem solid;
}
.about-info {
    padding: 1rem;
    padding-top: 0;
}
.about-info p {
    margin-top: 1rem;
}


/* --- RESPONSIVENESS --- */
@media (width > 30rem) { /* 480px */
    /* h1 {
        font-size: 6rem;
    }
    .subtitle {
        font-size: 1.2rem;
    }

    .about-card p {
        font-size: 0.8rem;
    }
    .portrait-polaroid {
        translate: 3rem 11rem;
    } */
}

@media (width > 40rem) { /* 640px */
    /* nav {
        justify-content: right;
    }
    nav a {
        font-size: 0.8rem;
    }

    #about {
        padding-top: 10rem;
        padding-bottom: 3rem;
    }
    h1 {
        font-size: 8rem;
    }
    .title-text {
        margin-bottom: 5rem;
    }
    .subtitle {
        font-size: 1.4rem;
    }

    .about-envelope {
        min-height: 42rem;
        max-width: 40rem;
    }
    .about-card {
        padding: 2rem;
        height: 20rem;
    }
    .about-card h2 {
        font-size: 3rem;
    }
    .portrait-polaroid {
        translate: 6rem 11rem;
        width: 12rem;
        height: 14rem;
    } */
}

@media (width > 64rem) { /* 1024px */
    /* #about {
        flex-direction: row;
        justify-content: center;
        padding-top: 5rem;
    }
    h1 {
        font-size: 6.5rem;
    }
    .title-text {
        align-items: center;
    }
    .subtitle {
        translate: 6rem 0rem;
    }
    .about-envelope {
        margin-right: 2rem;
    }

    .project-grid {
        gap: 12rem;
        flex-direction: row;
    } */
}

@media (width > 90rem) { /* 1440px */
    /* h1 {
        font-size: 10rem;
    }
    .subtitle {
        font-size: 1.75rem;
        translate: 11rem 0rem;
    }
    .about-envelope {
        margin-right: 5rem;
    }

    .project-grid {
        gap: 18rem;
    } */
}

@media (width > 120rem) { /* 1920px */
    /* h1 {
        font-size: 12rem;
    }
    .subtitle {
        font-size: 2rem;
        translate: 14rem 0rem;
    } */
}