/* Main CSS File */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f0f0;
    display: flex;
    flex-direction: column;
}

/* --- HEADINGS --- */
h1 {
    font-family: "Imperial Script", cursive;
    font-size: 6rem;
    color: #24475B;
}
h2 {
    font-family: "Imperial Script", cursive;
    font-size: 3rem;
    color: #753716;
    text-align: center;
    margin-bottom: 1rem;
}

/* --- NAVIGATION BAR --- */

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #1E1E1E;
}
.logo-circle {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #212c3c;
    border-radius: 50%;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    padding: 1.5rem 2rem;
    background-color: #F5F3F1;
    border-bottom: #1E1E1E 1px solid;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Navigation Bar */
.navbar {
    display: flex;
    gap: 2rem;
}
.navbar a {
    text-decoration: none;
    color: #1E1E1E;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
    transition: color 0.3s;
}
.navbar a:hover, .navbar a:focus {
    color: #753716;
    text-decoration: underline;
}

/* --- ABOUT SECTION --- */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0rem;
}

/* About Text */
.title-text {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.subtitle {
    position: relative;
    text-align: right;
    font-family: "IM FELL Great Primer", serif;
    font-size: 1.3rem;
    text-transform: lowercase;
    color: #753716;
    margin-top: -1rem;
}

/* About Collage */
.about-blurb {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url("/img/Envelope.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;
    min-height: 35rem;
}
.about-content {
    position: relative;
    bottom: 5rem;
    background-color: #F5F3F1;
    border: 0.4rem solid #753716;
    padding: 1rem;
    max-width: 28rem;
}
.about-content h2 {
    font-family: "Imperial Script", cursive;
    font-size: 3rem;
    color: #753716;
    text-align: left;
    margin-bottom: 0;
}

.about-content p {
    font-family: "Manrope", sans-serif;
    font-size: 0.7rem;
    line-height: 1.5;
    color: #1E1E1E;
    padding: 1rem;
    padding-bottom: 0.8rem;
}

.portrait-container {
    position: absolute;
    top: 13rem;
    left: 13rem;
    width: 11rem;
    height: 13rem;
    border: 0.5rem solid #fdfdfd;
    border-bottom: 2rem solid #fdfdfd;
    overflow: hidden;
    background-color: #fdfdfd;
    rotate: 3deg;
}

.portrait-container img {
    width: 100%;
    height: 130%;
    object-fit: cover;
    display: block;
    opacity: 0.8;
}