/* Main CSS File */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    color: #D9D9D9;
}

body {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    background-image: url("../img/noise.svg");
    background-position: 0 0;
    background-size: auto;
    background-attachment: fixed;
}

/* --- TEXT --- */

h1 {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.8rem 1rem;
    text-transform: uppercase;
}
h2 {
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: lowercase;
    letter-spacing: -0.1rem;
}
h3 {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.05rem;
    margin-bottom: 0.5rem;
}
h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #99b7ca;
    letter-spacing: -0.05rem;
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
}

/* --- NAVIGATION BAR --- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #D9D9D9 0.01rem solid;
    position: sticky;
    top: 0;
    z-index: 10;

    background-color: #161616;
    background-image: url("../img/noise.svg");
    background-position: 0 0;
    background-size: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    flex-direction: row;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.8rem 1rem;
    border-left: #D9D9D9 0.01rem solid;
}
nav a:hover, nav a:focus {
    background-color: #465D6B;
    color: #D9D9D9;
    transition: background-color 0.3s, color 0.3s;
}

/* --- ABOUT SECTION --- */

#about {
    display: flex;
    flex-direction: column;
}

.title-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 24rem;
    padding: 1rem;
    width: 100%;
    align-items: center;
}
.title-heading p {
    text-align: center;
}

.about-card {
    background-color: #465D6B;
    padding: 0.5rem;
    border-left: #D9D9D9 0.01rem solid;
}
.inner-card {
    display: flex;
    flex-direction: column;
    border: #D9D9D9 0.01rem solid;
}
.portrait-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 14rem;
}
.portrait-container img {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: center top; /* shift crop downward */
    border: #D9D9D9 0.01rem solid;
}
.about-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 0;
}
.about-info p {
    margin-top: 1rem;
}


/* --- RESPONSIVENESS --- */

@media (width > 30rem) { /* 480px */
    h2 {
        font-size: 2.8rem;
        letter-spacing: -0.2rem;
    }
    h3 {
        font-size: 1.7rem;
    }
    h4 {
        font-size: 2rem;
    }

    .title-heading p {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
    .inner-card {
        flex-direction: row;
    }
    .portrait-container {
        height: auto;
    }
    .portrait-container img {
        width: 100%;
    }
    .about-info {
        padding: 2rem;
        justify-content: flex-end;

    }
}

@media (width > 40rem) { /* 640px */
    h2 {
        font-size: 3.4rem;
    }
    .title-heading p {
        max-width: 33rem;
    }
}

@media (width > 50rem) { /* 800px */
    h2 {
        font-size: 2.4rem;
    }

    nav {
        width: 50%
    }
    nav a {
        flex: 1;
        text-align: center;
    }

    #about {
        flex-direction: row;
        border-bottom: #D9D9D9 0.01rem solid;
    }
    .about-card {
        max-width: 25rem;
    }
    .inner-card {
        flex-direction: column;
    }
    .portrait-container {
        height: 13rem;
    }
    .portrait-container img {
        width: 50%;
    }
    .about-info {
        padding: 1rem;
        padding-top: 0;
    }
    .title-heading {
        height: auto;
    }
}

@media (width > 64rem) { /* 1024px */
    h2 {
        font-size: 3rem;
    }
    .title-heading p {
        font-size: 1.4rem;
        line-height: 1.4rem;
    }
    .about-card {
        max-width: 30rem;
        padding: 0.75rem;
    }
    .portrait-container {
        height: 16rem;
    }
}

@media (width > 90rem) { /* 1440px */
    h2 {
        font-size: 4rem;
    }
    p {
        font-size: 1.1rem;
        line-height: 1.1rem;
    }
    .about-info {
        padding: 2.5rem;
        padding-top: 1rem;
    }
    .title-heading p {
        max-width: 40rem;
    }
}

@media (width > 120rem) { /* 1920px */
   
}