/* Main CSS File */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

/* --- HEADINGS --- */
h1 {
    font-family: "Imperial Script", cursive;
    font-size: 4rem;
    color: #24475B;
}
h2 {
    font-family: "Imperial Script", cursive;
    font-size: 2rem;
    font-weight: 100;
    color: #753716;
    text-align: left;
    margin-bottom: 0;
}

/* --- NAVIGATION BAR --- */

nav {
    display: flex;
    justify-content: center;
    padding: 1.5rem 2rem;
    background-color: #F5F3F1;
    border-bottom: #753716 0.2rem solid;
    position: sticky;
    top: 0;
    z-index: 100;
    gap: 2rem;
}
    
nav a {
    text-decoration: none;
    color: #753716;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.02rem;
    transition: color 0.3s;
}
nav a:hover, nav a:focus {
    color: #24475B;
    text-decoration: underline;
}

/* --- ABOUT SECTION --- */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 6rem;
}

/* About Text */
.title-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}
.subtitle {
    position: relative;
    text-align: right;
    font-family: "IM FELL Great Primer", serif;
    font-size: 0.9rem;
    text-transform: lowercase;
    color: #753716;
    margin-top: -1rem;
}

/* About Collage */
.about-envelope {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../img/Envelope.png");
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    padding: 4rem 2rem;
    min-height: 25rem;
    max-width: 24rem;
}
.about-card {
    position: relative;
    bottom: 0rem;
    background-color: #F5F3F1;
    border: 0.4rem solid #753716;
    padding: 0.5rem;
    max-width: 30rem;
    rotate: -1deg;
}
.about-card h2 {
    font-family: "Imperial Script", cursive;
    font-size: 2rem;
    font-weight: 100;
    color: #753716;
    text-align: left;
    margin-bottom: 0;
}

.about-card p {
    font-family: "Manrope", sans-serif;
    font-size: 0.6rem;
    font-weight: 300;
    line-height: 1.5;
    color: #1E1E1E;
    padding: 1rem;
}

.portrait-polaroid {
    position: absolute;
    translate: 3rem 10rem;
    width: 8rem;
    height: 10rem;
    border: 0.5rem solid #eceaea;
    border-bottom: 2rem solid #eceaea;
    overflow: hidden;
    background-color: #eceaea;
    rotate: 3deg;
}

.portrait-polaroid img {
    width: 100%;
    height: 130%;
    object-fit: cover;
    display: block;
}

/* --- RESPONSIVENESS --- */
@media (width > 30rem) {
    h1 {
        font-size: 6rem;
    }
    .subtitle {
        font-size: 1.2rem;
    }

    .about-card p {
        font-size: 0.8rem;
    }
    .portrait-polaroid {
        translate: 3rem 11rem;
    }
}

@media (width > 40rem) {
    nav {
        justify-content: right;
    }
    nav a {
        font-size: 0.8rem;
    }

    #about {
        padding-top: 10rem;
        padding-bottom: 8rem;
    }
    h1 {
        font-size: 8rem;
    }
    .title-text {
        margin-bottom: 5rem;
    }
    .subtitle {
        font-size: 1.4rem;
    }

    .about-envelope {
        min-height: 42rem;
        max-width: 40rem;
    }
    .about-card {
        padding: 2rem;
        height: 20rem;
    }
    .about-card h2 {
        font-size: 3rem;
    }
    .portrait-polaroid {
        translate: 6rem 11rem;
        width: 12rem;
        height: 14rem;
    }
}

@media (width > 70rem) {
    #about {
        flex-direction: row;
        justify-content: center;
        padding-top: 5rem;
    }
    h1 {
        font-size: 6.5rem;
    }
    .title-text {
        align-items: center;
    }
    .subtitle {
        translate: 6rem 0rem;
    }
    .about-envelope {
        margin-right: 5rem;
    }
}