/* My Work Card */

/* --- WORK SECTION --- */
#work {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faf8f7;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#work h2 {
    background-color: #eceaea;
    color: #753716;
    padding: 1rem;
    padding-right: 1.6rem;
    rotate: -3deg;
    z-index: 1;
}

.project-card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 0.4rem solid #753716;
    width: 90%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 18rem;
    align-items: center;
    rotate: 1deg;
}

.project-polaroid {
    position: relative;
    background-color: #ffffff;
    border: 0.4rem solid #eceaea;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    align-items: center;
    rotate: -2deg;
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    text-align: left;
}

.project-info h3 {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    letter-spacing: -0.1rem;
    font-size: 2rem;
    color: #24475B;
    margin-bottom: 0.5rem;
}

.project-card p {
    font-family: "Manrope", sans-serif;
    font-size: 0.6rem;
    font-weight: 300;
    line-height: 1.5;
    color: #1E1E1E;
    margin-bottom: 0.5rem;
}

.project-card a {
    display: inline-block;
    font-family: "Manrope", sans-serif;
    font-size: 0.7rem;
    background-color: #eceaea;
    color: #753716;
    text-decoration: none;
    width: 100%;
    padding: 0.7rem 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.project-card a:hover, .project-card a:focus {
    background-color: #753716;
    color: #eceaea;
    border-color: #753716;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tags span {
    color: #753716;
}

/* --- RESPONSIVENESS --- */
@media (width > 40rem) {
    
    #work {
        padding-top: 3rem;
    }
    #work h2 {
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    .project-polaroid {
        position: absolute;
        translate: 150%;
        max-width: 12rem;
    }
    .project-card {
        flex-direction: row;
        align-self: center;
        translate: -20%;
        max-width: 24rem;
    }
    .project-info p {
        font-size: 0.8rem;
    }
}

@media (width > 70rem) {
    .project-card {
        max-width: 25rem;
    }
    .project-polaroid {
        translate: 165%;
    }
}