/* --- PROJECT PAGE --- */

.project-page {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

/* --- PROJECT HEADER SECTION --- */
.project-top {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    border-bottom: #D9D9D9 0.01rem solid;
}
.project-title {
    font-size: 2rem;
    color: #99b7ca;
    text-transform: none;
    margin-bottom: 1.5rem;
}
.project-intro {
    padding: 0.5rem;
    border: #D9D9D9 0.01rem solid;
    margin-bottom: 1.5rem;
}
.project-intro-inner {
    border: #D9D9D9 0.01rem solid;
    padding: 1rem;
}
.project-description {
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.3rem;
}
.project-details-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}
.detail-item h3, .content-section h3 {
    color: #99b7ca;
    font-size: 1rem;
}
.content-section h4 {
    margin-top: 2rem;
}

.detail-item p {
    font-weight: 400;
}

/* --- PROJECT IMAGE --- */
.project-image {
    width: 100%;
    border: #D9D9D9 0.01rem solid;
    background-color: #1d1f23;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 1rem;
}
.project-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

/* --- PROJECT CONTENT SECTIONS --- */
.project-content {
    padding: 2rem 1rem;
}

.content-section {
    margin-bottom: 3rem;
}

.content-section h4 {
    color: #D9D9D9;
    font-size: 1.3rem;
    letter-spacing: -0.05rem;
    margin-bottom: 0.5rem;
}

.content-section p {
    line-height: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

/* --- PROTOTYPE LINKS --- */
.prototype-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.prototype-button {
    display: block;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 0.8rem 1rem;
    border: #D9D9D9 0.01rem solid;
}

.prototype-button:hover, 
.prototype-button:focus {
    background-color: #D9D9D9;
    color: #161616;
    transition: background-color 0.3s, color 0.3s;
}

/* --- RESPONSIVENESS --- */

@media (width > 30rem) { /* 480px */
    .project-title {
        font-size: 3rem;
    }
    .project-intro-inner {
        padding: 2rem;
    }
    .project-details-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .prototype-links {
        flex-direction: row;
    }
}

@media (width > 40rem) { /* 640px */
    .project-title {
        font-size: 4rem;
    }
    
    .project-top {
        padding: 3rem 2rem;
    }
    
    .project-content {
        padding: 3rem 2rem;
    }
    
    .project-image {
        min-height: 25rem;
    }
}

@media (width > 50rem) { /* 800px */
    .images {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }
    .project-intro {
        flex: 2;
        margin-bottom: 0;
    }
    .project-image {
        flex: 1;
        height: auto;
        margin-bottom: 0;
    }
    .project-intro-inner {
        height: 100%;
    }
    .content-section .project-image {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .project-intro .project-image {
        max-height: 20rem;
    }

}

@media (width > 64rem) { /* 1024px */
    .project-page {
        max-width: 80rem;
        align-self: center;
    }
    .project-title {
        font-size: 4.5rem;
    }
    
    .detail-item h3, .content-section h3 {
        font-size: 1.5rem;
    }
    .project-description,
    .detail-item p,
    .content-section p {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }
}

@media (width > 90rem) { /* 1440px */
    .project-top {
        padding: 4rem;
    }
    .project-content {
        padding: 4rem;
    }
    .project-title {
        font-size: 5rem;
    }
}