/* My Work Card */

/* --- WORK SECTION --- */
#work {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-card {
    background-color: #ffffff;
    border: 0.4rem solid #753716;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 4rem;
    min-height: 20rem;
    max-width: 31rem;
    align-items: center;
}

.project-polaroid {
    position: absolute;
    translate: 4rem -2rem;
    rotate: 2deg;

    background-color: #ffffff;
    border: 0.5rem solid #eceaea;
    border-bottom: 2.2rem solid #eceaea;

    width: 10rem;
    height: 12rem;

    margin-bottom: 2rem;
}
.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    text-align: left;
}

.project-info h3 {
    position: absolute;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    letter-spacing: -0.1rem;
    font-size: 1.5rem;

    rotate: -1deg;
    z-index: 1;
    background-color: #753716;
    color: white;
    padding: 0.5rem 1.8rem;
    margin-bottom: 0.5rem;
}

.project-card p {
    font-family: "Manrope", sans-serif;
    font-size: 0.9rem;
    color: #1E1E1E;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
}

.project-card a {
    display: flex;
    position: absolute;
    translate: 0rem 0.3rem;
    font-family: "Manrope", sans-serif;
    font-size: 0.64rem;
    font-weight: 600;
    color: #1E1E1E;
    background-color: #d6d6d6;

    text-decoration: none;
    padding: 0.25rem 2.2rem;
    /* border: 0.4rem solid #1E1E1E; */
    text-align: center;
    text-transform: uppercase;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.project-card a:hover, .project-card a:focus {
    background-color: #753716;
    color: #ffffff;
    border-color: #753716;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tags span {
    color: #753716;
}

/* --- RESPONSIVENESS --- */
/* @media (width > 50rem) {
    .project-card {
        flex-direction: row;
        width: 100%;
        padding: 2rem;
        max-width: 80rem;
    }
    .project-card img {
        width: 50%;
        margin-bottom: 0;
        border-bottom: none;
        border-right: #753716 0.08rem solid;
    }
    .project-info {
        width: 50%;
        padding: 0 2rem;
        justify-content: space-between;
    }
} */