/* My Work Card */

/* --- WORK SECTION --- */
#work {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card {
    background-color: #ffffff;
    border: 0.4rem solid #753716;
    max-width: 70rem;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 4rem;
    max-width: 31rem;
    align-items: center;
}

.project-card img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    border-bottom: #1E1E1E 1px solid;
}

.project-info {
    width: 100%;
    text-align: left;
}

.project-info h3 {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    letter-spacing: -0.2rem;
    font-size: 2.5rem;
    color: #24475B;
    margin-bottom: 0.5rem;
}

.project-card p {
    font-family: "Manrope", sans-serif;
    font-size: 0.9rem;
    color: #1E1E1E;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
}

.project-card a {
    display: inline-block;
    font-family: "Manrope", sans-serif;
    font-size: 0.9rem;
    color: #1E1E1E;
    text-decoration: none;
    border: 1px solid #1E1E1E;
    padding: 0.7rem 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.project-card a:hover, .project-card a:focus {
    background-color: #753716;
    color: #ffffff;
    border-color: #753716;
}

.tags {
    font-weight: 600;
    margin-bottom: 1rem;
}