/* My Work Card */

/* --- WORK SECTION --- */
#work {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card {
    background-color: #ffffff;
    border: 0.4rem solid #753716;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 4rem;
    max-width: 31rem;
    align-items: center;
}

.project-card img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    border-bottom: #753716 0.08rem solid;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    text-align: left;
}

.project-info h3 {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    letter-spacing: -0.2rem;
    font-size: 2.5rem;
    color: #24475B;
    margin-bottom: 0.5rem;
}

.project-card p {
    font-family: "Manrope", sans-serif;
    font-size: 0.9rem;
    color: #1E1E1E;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
}

.project-card a {
    display: inline-block;
    font-family: "Manrope", sans-serif;
    font-size: 0.9rem;
    color: #1E1E1E;
    text-decoration: none;
    border: 0.08rem solid #1E1E1E;
    padding: 0.7rem 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.project-card a:hover, .project-card a:focus {
    background-color: #753716;
    color: #ffffff;
    border-color: #753716;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tags span {
    color: #753716;
}

/* --- RESPONSIVENESS --- */
@media (width > 50rem) {
    .project-card {
        flex-direction: row;
        width: 100%;
        padding: 2rem;
        max-width: 80rem;
    }
    .project-card img {
        width: 50%;
        margin-bottom: 0;
        border-bottom: none;
        border-right: #753716 0.08rem solid;
    }
    .project-info {
        width: 50%;
        padding: 0 2rem;
        justify-content: space-between;
    }
}